In [2]:
from rtree import index
import csv
import pandas as pd
import numpy as np
import timeit

In [3]:
data = pd.read_csv("HTRU_2.csv",header=None,sep=',')

In [4]:
data.shape

(17898, 9)

In [5]:
p = index.Property()
p.dimension = data.shape[1]-1
idx = index.Index('HRTU_2', properties=p, interleaved=False)

In [6]:
data

,0,1,2,3,4,5,6,7,8
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [7]:
data = np.array(data)

In [8]:
data.shape

(17898, 9)

In [12]:
data_list = np.ones((data.shape[0],(data.shape[1]-1)*2))
m = 0
for i in range(data.shape[1]-1):
    for j in range(data.shape[0]):
#         print(m,n,j,i)
#         print(m,n+1,j,i)
        data_list[j,m] = data[j,i]
        data_list[j,m+1] = data[j,i]
    m = m + 2
#         data_list_temp.append(data[i,j])
#     print(data_list_temp)
#     data_list.hstack(data_list_temp)
#     data_list.hstack(data_list_temp)

In [13]:
data_list

array([[140.5625    , 140.5625    ,  55.68378214, ...,   7.97553179,
         74.24222492,  74.24222492],
       [102.5078125 , 102.5078125 ,  58.88243001, ...,  10.57648674,
        127.3935796 , 127.3935796 ],
       [103.015625  , 103.015625  ,  39.34164944, ...,   7.73582202,
         63.17190911,  63.17190911],
       ...,
       [119.3359375 , 119.3359375 ,  59.93593941, ...,   2.49951714,
          4.59517265,   4.59517265],
       [114.5078125 , 114.5078125 ,  53.90239966, ...,  10.00796731,
        134.2389095 , 134.2389095 ],
       [ 57.0625    ,  57.0625    ,  85.79734025, ...,  -1.59752658,
          1.42947536,   1.42947536]])

In [14]:
data_list.shape

(17898, 16)

In [15]:
idx

rtree.index.Index(bounds=[1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308, 1.7976931348623157e+308, -1.7976931348623157e+308], size=0)

In [16]:
for i in range(0,data.shape[0]):
    idx.add(i, (data_list[i]))

In [17]:
start = timeit.default_timer()
print(list(idx.nearest((data_list[122]),13)))
stop = timeit.default_timer()
time_for_nn = stop-start
print(time_for_nn)

[122, 17541, 3551, 13289, 2655, 2533, 11966, 15165, 15576, 6987, 9395, 9058, 7977]
0.0029514000000006035